img {
  width: 100%;
}

header {
  background-color: orange;
  padding: 4rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 30px;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
article {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

nav {
  text-align: center;
  padding: 2rem;
}
nav button {
  background-color: orange;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 5px;
}
.valgt {
  background-color: grey;
}

article p {
  font-family: "Lato", sans-serif;
}
#popup {
  width: 100vw;
  height: 100vh;
  background-color: #00000099;
  position: fixed;
  top: 0;
  padding-block: 2rem;
  display: none;
}

#popup img {
  width: 70%;
}

#popup article {
  background-color: white;
  width: 80%;
  margin: 10em auto;
  text-align: center;
}

#popup button {
  position: fixed;
  top: 10em;
  left: 2em;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: bolder;
  font-size: 20px;
}

@media (min-width: 1000px) {
  #popup img {
    width: 40%;
  }

  #popup article {
    background-color: white;
    width: 50%;
    margin: 10em auto;
    text-align: center;
  }

  #popup button {
    position: fixed;
    top: 11em;
    left: 19em;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-weight: bolder;
    font-size: 20px;
  }
}
